.custom-container {
    border: 1px solid #ddd;
    padding: 20px;
    width: 75%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.in-din {
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.title-group {
    display: flex;
    flex-direction: row;
    gap: 150px;
    font-weight: bold;
    text-decoration: underline;
}
.paragraph-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.parag1 {
    font-weight: bold;
}
.facegrin {
    color: #e2d003;
    font-size: 7rem;
}

.arrow {
    margin-left: 10px;
}
.button-container {
    text-align: center;
    margin-top: 10px;
}

.but {
    background-color: #f8de22;
    color: black;
    padding: 15px 80px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.but:hover {
    background-color: #ffcc00;
}

.but:focus {
    outline: none;
}

.but:active {
    background-color: #fd8d14;
}
