.card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.title1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #eeeeee;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
